:root{
  --primarycolor1 : #c4aaff;
  --primarycolor2 : #8855ff;
  --primarycolor3 : #4d00ff;
  --primarycolor3 : #3c00c6;
  --primarycolor5 : #2a008c;

  --red:#fb3748;
  --darkred: #d00416;

  --green: #84ebb4;
  --darkgreen: #1fc16b;
  --bg1: #ecedfb;
  --bg2: #cdd0fa;
  --bg3: #7f86f2;
}

body {
  font-family: 'Poppins', sans-serif !important;
  /* font-size: 14px !important; */
}
