@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primarycolor1: #c4aaff;
  --primarycolor2: #8855ff;
  --primarycolor3: #4d00ff;
  --primarycolor4: #3c00c6;
  --primarycolor5: #2a008c;
  --bg1: #f7f8fc;
  --bg2: #cdd0fa;
  --bg3: #7f86f2;
  --red: #fb3748;
  --darkred: #d00416;
  --green: #84ebb4;
  --darkgreen: #1fc16b;
}

.react-calendar {
  border: 2px solid var(--bg3); /* Bootstrap blue border */
  border-radius: 10px;       /* optional */
  padding: 10px;
  background-color: var(--bg2);
   font-family: 'Poppins', sans-serif !important;
}
.react-calendar__tile{
    color: black !important;
    /* font-weight: 600 !important; */

}
.react-calendar__month-view__weekdays{
    color: black;
    text-decoration: none;
}

.react-calendar__tile--now {
  background: var(--bg3) !important;  /* Bootstrap blue */
  color: white !important;         /* text color */
   height: 30px !important;
  width: 30px !important;
  border-radius: 7px !important;
  font-family: 'Poppins', sans-serif !important;
}