:root{
  --primarycolor1 : #c4aaff;
  --primarycolor2 : #8855ff;
  --primarycolor3 : #4d00ff;
  --primarycolor3 : #3c00c6;
  --primarycolor5 : #2a008c;

  --red:#fb3748;
  --darkred: #d00416;

  --green: #84ebb4;
  --darkgreen: #1fc16b;
  --bg1: #ecedfb;
  --bg2: #cdd0fa;
  --bg3: #7f86f2;
}


.main-con {
    /* border: thick double var(--primarycolor3); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right, 
        var(--bg1) 60%,
        var(--bg3) 40%

    );
}


.role-container{
    width: 50%;
    margin: auto;
}
.custom-radio {
  display: block;
  width: 100px;
  height: 100px;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  background-color: white;
  display: flex;
flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.custom-radio p {
    margin: 0;
    padding: 0;
}
::placeholder{
    font-size: 12px;
}
input{
    background: transparent !important;
    font-size: 14px !important;
}
input:focus{
    box-shadow: var(--primarycolor2) !important;
    border: 2px solid var(--primarycolor2) !important;
}
.input-group{
    background: transparent !important;
}

input[type="radio"]:checked + .custom-radio {
  background-color: var(--bg2);
  /* border-color:var(--bg3); */
  color: var(--primarycolor2);
  border: 2px solid var(--primarycolor2);
}
.createAccBtn{
    background-color: var(--primarycolor3) !important;
    color: white;
}
.btn-warning{
    background-color: var(--primarycolor2) !important;
    color: white !important;
    border: none !important;
}
.error{
    border: thin solid var(--red) !important;
    color: var(--darkred) !important;
}
@media screen and  (max-width: 768px) {
    body{
        font-size: 12px !important;
    }
    .main-con{
        background:linear-gradient(
            var(--bg1) 100%
        );
        height: 100vh;
    }
    .custom-radio{
        width: 120px;
        height: 120px;
        padding: 10px 15px;
        box-sizing: border-box;
    }
    .role-container{
        /* width: 90%; */
        /* gap: 1px !important; */
        box-sizing: border-box;
        /* border: 2px solid red; */
    }
    .createAccBtn{
        width: 100% !important;
    }
    .text-sm-center{
        text-align: center !important;
    }
}

@media screen and (min-width: 769px){
   .error{
    width: 50% !important;
   }
   .text-sm-center{
    text-align: left !important;
   }
    
}